/* ===== 共通スタイル ===== */
@import url('https://fonts.googleapis.com/css?family=Balsamiq+Sans');
* {
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
*::-webkit-scrollbar {
    display: none;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Yu Gothic Medium", "YuGothic", "游ゴシック Medium", "游ゴシック体", "メイリオ", sans-serif;
    margin: 0;
    padding: 0;
}
ul,ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
figure {
    margin: 0;
    padding: 0;
    border:0;
    outline:0;
}
img {
    width: 100%;
    vertical-align: bottom;
}
a {
    text-decoration: none;
}
.container {
    width: 1060px;
    margin: auto;
}
.section-title {
    text-align: center;
    color:#000;
    font-size: 50px;
    font-weight:300;
    font-family: 'Balsamiq Sans', sans-serif;
    margin-bottom:50px;
}

/* ===== navber ===== */
.navbar-fixed {
    background-color:rgba(255,255,255,1.0);
    position:fixed;
    width:100vw;
    padding-right:10px;
    z-index:100;
}
.gnav{
    font-family:'Balsamiq Sans',sans-serif;
    display:flex;
    justify-content:flex-end;
    align-items: center; 
}
.gnav-item{
    padding:0 30px;
}
.gnav-link {
    color: #2d658d;
    font-size: 25px;
    font-weight: bold;
    display: block;
    line-height: 60px;
    padding:0 20px;
}
.gnav-link:hover { 
    background-color: #2d658d;
    color:#fff;
    transition: 0.5s;
}

/* ===== top　title ===== */
.top-background{
    width: 100%;
    height: 100vh; 
    background: linear-gradient(45deg, #0c5a90, #bef0e6, #2d8674);
        background-size: 500% 500%;
        -webkit-animation: AnimationName 20s ease infinite;
        -moz-animation: AnimationName 20s ease infinite;
        animation: AnimationName 20s ease infinite;
}       
/* @-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
} */
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.site-title {
    font-size: 50px;
    font-weight: 500;
    color:#fff;
    font-family: 'Balsamiq Sans', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100vh;
    animation-name: fadeInAnime;
    animation-duration:3s;
}
@keyframes fadeInAnime{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.site-title h1{
    margin: 0;
    text-align:center;
}

/* ===== about ===== */
.about-area {
    padding: 60px 0;
    background-image:url(./images/bck-gray.jpeg);
}
.about-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.about-text-wrap {
    width: 520px;
}
.about-text {
    font-size: 20px;
    line-height: 2;
    margin-top: 0;
}

.about-image-wrap {
    width: 300px;
    position: relative;
}
.about-image {
    box-shadow: 3px 3px 15px #999;
}
.about-image-info {
    width: 100%;
    position: absolute;
    bottom:0;
    display: flex;
    justify-content:flex-end;
}
.about-sns-list {
    display: flex;
}
.about-sns-item {
    width: 45px;
    margin: 0 10px;
    transition: 0.8s;
}
.about-sns-item:hover {
    /* transform:perspective(50px)translateZ(20px); */
    transform:scale3d(1.5,1.5,0);
}

/* ===== skills ===== */
.skills-area {
    background-color: #EDF5FD;
    padding: 60px 0;
}
.skill-list {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skill-item {
    margin-bottom: 30px;
    width: 510px;
}
.skill-item:after {
    content:"";
    display: block;
    clear: both;
}
.skill-detail {
    width: 340px;
    position: relative;
    float: left;
}
.skill-name {
    font-size: 25px;
    font-family: "Arial", sans-serif;
    font-weight: normal;
    margin: 0 0 10px;
}
.skill-image {
    width: 140px;
    float: right;
}
.skill-summry{
    margin-top: 10px;
}
/* === skill-rating === */
.skill-rate{
    margin:0;
}
.skill-rating{
	position: relative;
	z-index: 0;
	display: inline-block;
	white-space: nowrap;
	color: #CCCCCC;
    font-size: 2em;
}
.skill-rating:before, .skill-rating:after{
    content: '★★★★★';
}
.skill-rating:after{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #ffcf32;
}
.skill-rating[data-rate="2.5"]:after{ width: 50%; }

/* ===== works ===== */
.works-area {
    padding: 60px 0;
}
.works-wrap {
    margin-top: 50px;
}
.works-inner {
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;
}
/* ↓↓↓ secondできたら解除 ↓↓↓ */
/* .works-inner.second .works-image-wrap {
    order: 2;
}
.works-inner.second .works-text-wrap {
    order: 1;
} */
.works-image-wrap {
    width: 700px;
    position: relative;
}
.works-image-inner {
    width: 545px;
    height: 340px;
    position: absolute;
    top: 30px;
    left: 78px;
    overflow: scroll;
}
.works-text-wrap {
    width: 340px;
}
.works-title {
    color: #FFF;
    font-size: 22px;
    background-color: #003978;
    padding: 8px 10px;
    margin:0 0 30px;
    display: inline-block;
}
.works-summary {
    font-size: 18px;
    margin: 0 0 30px;
}
/* === github btn === */
.work-btn {
	position: relative;
	display:inline-block;
    padding: 10px 30px;
	color:#55206d;
    font-weight:bold;
	border:1px solid #ccc;
}
.work-btn:hover {
	color:#fff;
	border-color: transparent;
}
.borderleft::before{
	content: '';
	position: absolute;
	left: 0;
    bottom:0;
	z-index: -1;
	height: 100%;
	width: 0;
	background:#55206d;
	transition: 0.5s;
}
/* ↓↓↓ hoverをすると背景が伸びる ↓↓↓ */
.borderleft:hover::before{
	width: 100%;
}
.works-zoom {
    text-align: center;
    margin-top: 20px;
}
.work-check-label {
    color: #009BFC;
    background-image: url("./images/icon-expansion.svg");
    background-repeat: no-repeat;
    background-position: left center;
    font-size: 18px;
    vertical-align: middle;
    padding: 5px 0 5px 25px;
}
.work-check-label:hover {
    text-decoration: underline;
}
.work-check {
    display: none;
}
.work-check-label{
    cursor: pointer;
}
.modal {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 150;
    opacity: 0;
    transition: opacity 0.5s, transform 0s 0.5s;
    transform: scale(0);
}
.modal-inner {
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}
.modal-body {
    width: 100%;
    height: 90%;
    overflow: scroll;
    cursor: unset;
}
.modal-close {
    position: absolute;
    top: 5%;
    right: -50px;
}
.modal-close,.modal-close-image:hover{
    cursor: pointer;
}
.work-check:checked + .modal {
    /* display: block; */
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s;
}
.work-check:checked + .modal .modal-inner {
    transform: scale(1);
}
.works-tag{
    background-color:#55206d;
    border:1px solid #55206d;
    cursor: pointer;
    box-shadow: 0px 5px 0 #000;
    transition:0.3s;
}
.works-tag a{
    color:#fff;
}

/* ===== contact ===== */
.contact-area {
    background-image: url("./images/contact-bck.jpeg");
    padding: 80px 0;
}
.contact-area .section-title{
    color: #FFF;
}
.contact-form {
    background-color: #FFF;
    padding: 60px;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #000;
    width:95%;
    margin: 0 auto;
}
.form-group {
    margin-bottom: 40px;
}
.form-label-text {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}
.form-label input,
.form-label select,
.form-label textarea {
    font-size: 16px;
    width: 100%;
    border: 1px solid #DEDEDE;
    padding: 15px;
}
.form-label select {
    background-image: url("./images/bg-select.svg");
    background-repeat: no-repeat;
    background-position: right 15px center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.form-label textarea {
    height: 250px;
}
.form-submit-wrap {
    text-align: center;
}
.btn-submit {
    color: #FFF;
    background-color:#0c5a90;
    font-size: 18px;
    font-weight: bold;
    width: 140px;
    border: none;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0px 5px 0 #000;
    transition:0.3s;
    cursor: pointer;
}
.btn-submit:hover {
    transform: translate(0, 5px);
    box-shadow: none;
}

/* ===== footer ===== */
.footer {
    color: #FFF;
    background-color: #000;
    text-align: center;
    padding: 15px 0;
}

/* ===== responsive ===== */
/* ----- 1199~1080px ----- */
@media screen and (max-width:1199px){
    .modal-close{
        background-color: rgba(0,0,0,0.5);
        padding: 15px;
        right:0;
    }
}
/* ----- 1079~992px ----- */
@media screen and (max-width:1079px){
    .container{
        width: 100%;
    }
    .skill-list{
        margin-left:15px;
        margin-right:15px;
    }
    .skill-item{
        width:465px;
    }
    .skill-detail {
        width: 320px;
    }
    .skill-image {
        width: 120px;
    }
    .works-image-wrap{
        width:600px;
    }
    .works-image-inner {
        width: 465px;
        height: 290px;
        top: 25px;
        left: 67px;
    }
}
/* ----- 991~768px ----- */
@media screen and (max-width:991px){
    .gnav-item{
        padding:0 15px;
    }
    container{
        width: 100%;
    }
    .about-text{
        width:350px;
    }
    .skill-item {
        width: 45%;
        position: relative;
    }
    .skill-detail {
        width: 100%;
        float: none;
        position: relative;
        z-index: 1;
    }
    .skill-image {
        width: 100px;
        opacity: 0.2;
        float: none;
        position: absolute;
        bottom: 10px;
        right: 0;
        z-index: 0;
    }
    .works-inner {
        /* ↓↓↓ flex無効 ↓↓↓ */
        display: block;
    }
    .works-image-wrap {
        margin: auto;
    }
    .works-text-wrap {
        width: 100%;
        margin-top:30px;
        text-align: center;
    }
}
/* ----- 767px~375px ----- */
@media screen and (max-width:767px){
    .container{
        width:100%;
    }
    .navbar-fixed{
        display:none;
    }
    .site-title{
        font-size:40px;
        margin:0 auto;
    }
    .about-wrap{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .about-image-wrap{
        margin:0 auto;
    }
    .about-text-inner{
        margin: 0 auto;
        margin-top:50px;
        text-align: center;
    }
    .skill-item{
        width:90%;
        margin: 0 auto;
    }
    .skill-name{
        margin: 0;
    }
    .skill-image{
        position:absolute;
        right:40px;
        width:80px;
        margin-bottom: 30px;
    }
    .skill-detail{
        margin-bottom: 20px;
    }
    .works-inner{
        /* ↓↓↓ flex無効化　↓↓↓ */
        display: block;
    }
    .works-area {
        padding: 30px 0;
    }
    .works-image-wrap {
        width:95%;
        margin:0 auto;
        margin-bottom: 20px;
    }
    .works-text-wrap{
        text-align: center;
        margin:0 auto;
    }
    .works-image-frame {
        display: none;
    }
    .works-image-inner {
        width: 100%;
        height: 100%;
        padding-top: 62%;
        position: relative;
        top: 0;
        left: 0;
        /* border:solid 1px #ccc; */
        box-shadow: 3px 3px 15px #999;;
    }
    .works-image-inner img {
        position: absolute;
        top: 0;
    }
    .works-title {
        font-size: 18px;
        margin: 0 0 20px;
    }
    .contact-form{
        padding:20px;
        box-shadow: none;
    }
}
